.card__container {
  width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}


.products__container {
  display: grid;
  justify-items: center;
  max-width: 1200px;
  margin: auto;
}

.products__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 1300px) {
  .products__container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1000px) {
  .products__container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .products__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 575px) {
  .products__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 380px) {
  .products__container {
    grid-template-columns: 1fr;
  }
}